html, 
body {
  font-family: 'MedievalSharp', cursive;
  background-image: linear-gradient(to bottom, brown, blue, yellow, green, purple, pink, red, #987654);
}

.pokemon-list {
  list-style-type: none;
  text-align: center;;
}

.module-color {
background-image: linear-gradient(to right, red, blue, green, yellow);
}

.btn {
  background-image: linear-gradient(to bottom, red, blue, grey); /* Green */
  border: none;
  color: black;
  margin-top: 5px;
margin-bottom: 5px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}